

.explore_menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore_menu h1 {
  font-weight: 700;
  color: #242424;
}

.explore_menu_text {
  max-width: 60%;
  columns: #242424;
}

.explore_menu_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}

.explore_menu_list::-webkit-scrollbar{
  display: none;
}

.explore_menu_list_item img{
  width: 7.5vw;
  min-width: 80px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.explore_menu_list_item p{
  margin-top: 10px;
  color: #747474;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
}

.explore_menu hr{
  margin: 10px 0px;
  height: 2px;
  background-color: #747474;
  border: none;
}

.explore_menu_list_item .active {
  border: 3px solid tomato;
  padding: 3px;
}

