

.footer {
  color: #e0dede;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 100px;
}

.footer_content{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}

.footer_right, .footer_middle, .footer_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer_right li, .footer_middle li, .footer_left li {
   list-style: none;
   margin-bottom: 10px;
}

.footer_middle h2, .footer_left h2 {
  color: #ffffff;
}

.footer_social_icons img{
  width: 40px;
  margin-right: 15px;
}

.footer hr{
  width: 100%;
  height: 2px;
  margin: 20px 0px;
  border: none;
  background-color: #d8dcdf;
}



@media (max-width: 750px) {
   .footer_content {
    display: flex;
    flex-direction: column;
    gap: 35px;

   }

   .footer_copyright {
    text-align: center;
   }
}