


.food_item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food_item_img{
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.food_item_info{
  padding: 20px;
}

.food_item_rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.food_item_rating p{
  font-size: 20px;
  font-weight: 500;
}


.food_item_rating img{
  width: 70px;
}

.food_item_desc{
  color: #676767;
  font-size: 13px;
}


.food_item_price{
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}

.food_item_img_container{
  position: relative;
}

.food_item_img_container .add{
  position: absolute;
  width: 35px;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.food_item_counter{
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: #ffffff;
}
.food_item_counter img{
  width: 30px;
}